# ==================================
# CONFIGURAÇÃO DA BASE DE DADOS
# ==================================

DATABASE_URL= mysql://root:root@localhost:3306/apexai


# ==================================
# CONFIGURAÇÃO DO WEBHOOK
# ==================================

SECRET_WEBHOOK_KEY= segredo123

# ==================================
# CONFIGURAÇÃO DA OPENAI
# ==================================

OPENAI_API_KEY=chaveapi
